*.log
sitemap.xml
sitemap.xml.gz
wp-config.php
/assets/
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/_modulemanager_tmp_
wp-content/themes/twentyfourteen/
wp-content/themes/twentythirteen/
wp-content/themes/twentytwelve/
wp-content/w3tc-config/
/media/
deploy.php
wp-content/plugins/
wp-config.*
public/assets/
